<%= form_with(model: user, local: true, url: user_path(user), method: :patch, remote: true) do |form| %>
  <div class="mb-4">
    <%= form.label :name, "Name", class: "block text-gray-700 font-semibold mb-2" %>
    <%= form.text_field :name, class: "w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-200" %>
  </div>
  <div class="mb-4">
    <%= form.label :username, "Username", class: "block text-gray-700 font-semibold mb-2" %>
    <%= form.text_field :username, class: "w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-200" %>
  </div>
  <div class="mb-4">
    <%= form.label :email, "Email", class: "block text-gray-700 font-semibold mb-2" %>
    <%= form.text_field :email, class: "w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-200" %>
  </div>
  <div class="mb-4">
    <%= form.label :phone, "Phone", class: "block text-gray-700 font-semibold mb-2" %>
    <%= form.text_field :phone, class: "w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-200" %>
  </div>
  <div class="mb-4">
    <%= form.label :website, "Website", class: "block text-gray-700 font-semibold mb-2" %>
    <%= form.text_field :website, class: "w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-200" %>
  </div>
  <div class="flex justify-end">
    <%= form.submit "Kaydet", class: "bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-200" %>
  </div>
<% end %>
