<!DOCTYPE html>
<html>
  <head>
    <title>Management App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <header class="bg-gray-800 text-white py-4">
      <div class="container mx-auto px-4">
        <%= link_to 'User Management', root_path, class: 'text-xl font-bold hover:underline' %>
      </div>
    </header>

    <main class="container mx-auto px-4 py-6">
      <%= yield %>
    </main>

    <%= javascript_include_tag "search" %>
  </body>
</html>
